
@{
    ViewBag.Title = "Index";
}

<div id="userscontainer">

   
    @if (Session["Role"].ToString() == "Admin")
    {
        <button  class="btn btn-primary mr-2" onclick="window.location.href = '@Url.Action("AdminDashboard","Login")';">BACK</button>

    }
    else
    {
        <button class="btn btn-primary mr-2" onclick="window.location.href = '@Url.Action("UserDashboard","Login")';">BACK</button>

    }

    @{

        if (Session["Role"].ToString() == "Admin")
        {
            Html.RenderAction("UsersTable");
        }
        else
        {
            Html.RenderAction("UsersEditTable");
        }

    }
</div>
<br />
<div id="usersactioncontainer">

</div>

