
@{
    ViewBag.Title = "Index";
}

<div id="userscontainer">

   
  

    @{

        if (Session["Role"].ToString() == "Admin")
        {
            Html.RenderAction("UsersTable");
        }
        else
        {
            Html.RenderAction("UsersEditTable");
        }

    }
</div>
<br />
<div id="usersactioncontainer">

</div>

