
@{
    ViewBag.Title = "Index";
}

<h2>Reservation</h2>
<button class="btn btn-primary mr-2" onclick="window.location.href = '@Url.Action("UserDashboard","Login")';">BACK</button>
<div id="reservationcontainer">
    @{
        Html.RenderAction("ReservationTable");

    }
</div>
<br />
<div id="reservationactioncontainer">

</div>