@{
    ViewBag.Title = "Index";
}

<h2>Rooms</h2>
<button class="btn btn-primary mr-2" onclick="window.location.href = '@Url.Action("AdminDashboard","Login")';">BACK</button>

<div id="roomcontainer">
    @{
        Html.RenderAction("RoomsTable");

    }
</div>
<br />
<div id="roomactioncontainer">

</div>

