@{
    ViewBag.Title = "Create";
}
<form method="post" id="createroomspecs" class="forms-sample">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2>Create Room Specification</h2>
                <div class="form-group">
                    <label>Enter Room Specification</label>
                    <input type="text" class="form-control" name="RoomProjectionSpecs" placeholder="Projection Name" />
                </div>

                <button id="btnSave" type="button" class="btn btn-icon-text mb-3 mb-sm-0 btn-inverse-primary font-weight-normal">SAVE</button>
            </div>
        </div>
    </div>
</form>


<script>

    $("#btnSave").click(function () {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create", "RoomSpecification")',
            data: $("#createroomspecs").serialize()
        })

        .done(function (response) {
            $("#roomspecscontainer").html(response);
            swal("Great!", "Specs Saved Successfully!s", "success");

            $("#createroomspecs").html("");
        })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            })

    });

    

</script>